/* styles.css */
body {
    font-family: Oswald, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #8b8989;
}

header {
    background-color: #222;
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #ff4081;
}

/*Formata a sessao de anuncios*/


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

main {
    flex: 1;
    margin-right: 20px;
}

.ad-section {
    width: 200px;
    padding: 20px;
    background-color: #afaaaa;
    border: 1px solid #ff4081;
}

.ad-section h2 {
    text-align: center;
    color: #f6f5f5;
}

.ad-section .ad {
    margin-bottom: 20px;
}

.ad-section .ad img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.ad-section .ad p {
    text-align: center;
    font-size: 14px;
}
/*Itens de texto*/
header h1 {
    margin: 0;
    color: #ff4081;
    text-shadow: 1px 1px #efddddcc;
}

section h2 {
    color: #ff4081;
}
/*Ultima frase*/
p.final {
    background-color: #e4e1e1;
    text-align: center;
    padding: 10px;
    border-top: 4px solid #ff4081;
    border-bottom: 4px solid #ff4081;
    margin-bottom: 140px;
    
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #080808;
    color: #8d8d8d;
    padding: 20px;
    font-size: 9px;
    font-family: Droid;
}



.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    vertical-align: middle;
}

.info p {
    margin: 5cap 0;
    font-family: Oswald, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fffefe;
}

.icons img {
    margin-left: 10px;
}

